name: Deploy to AWS ECR

on:
  push:
    branches:
      - main  # Change this to your main branch name

jobs:
  push_to_ecr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ap-southeast-1

      - name: Login to AWS ECR
        run: |
          aws ecr get-login-password --region ap-southeast-1 | docker login --username AWS --password-stdin 381492316277.dkr.ecr.ap-southeast-1.amazonaws.com

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: |
            381492316277.dkr.ecr.ap-southeast-1.amazonaws.com/staging-codese-fe

      - name: Build and push Docker images
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}-${{ github.sha }}
          labels: ${{ steps.meta.outputs.labels }}

- name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Update helm repo
        run: |
          echo Update newest image to deploy environment ${{ steps.extract_branch.outputs.branch }} at commit ${{ github.sha }}

          git config --global user.email "dr.hiep98@gmail.com"
          git config --global user.name "darkhader"

          echo Github sha commit: ${{ github.sha }} at branch ${{ steps.extract_branch.outputs.branch }}

          git clone https://oauth2:${{ secrets.GH_TOKEN }}@github.com/darkhader/devopsTest
          cd devopsTest/k8s-helmcharts/hiepvinh-frontend/

          sed -i "s/\(tag: \"\)[^\"]*\(\".*\)/\1${{ steps.extract_branch.outputs.branch }}_${{ github.sha }}\2/" values.yaml

          cat values.yaml

          git add .
          git commit -m "Github action trigger build with branch ${{ steps.extract_branch.outputs.branch }} commit ${{ github.sha }}"
          git push origin main